.modal-field-header-text {
	font-weight: 500 !important;
	font-size: 16px !important;
	text-align: left !important;
	padding-bottom: 10px !important;
}

.modal-summary-header-text {
	font-weight: 500 !important;
	font-size: 16px !important;
	text-align: left !important;
	padding-bottom: 10px !important;
}
