@use './components/common/Navbar/navbar';
@use './components/common/SideMenu/side-menu.scss';
@use './components/DocumentForm/document-form.scss';

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
